doctype html
html(lang="en")
  head
    title Grunt Project Ready
    link(rel="stylesheet" href="bower_components/normalize.css/normalize.css")
    link(rel="stylesheet" href="css/style.css")
    script(type='text/javascript' src="js/script.min.js")
    script(src="http://localhost:35729/livereload.js")
  body
    h1 Hola Mundo